@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(
            circle at center,
            #000042 0%,
            #00021b 40%,
            #000000 100%
    );

    height: 100%;
    color: #191919;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


.kc-main {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    min-height: 100vh; /* ocupa toda la altura de la ventana */
}

.kc-form {
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
}

.kc-main-title{
    text-align: center;
    font-size: 24px;
}

.kc-error {
    color: #ff4d4d;
}
